<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero top60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-container">
          <h3 class="title">Business Staff</h3>

          <%= render "flashes" %>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>

              <% @staffs.each do |staff| %>
                <tr>
                  <td><%= staff.name %></td>
                  <td><%= staff.email %></td>
                  <td><%= staff.role.titleize %></td>
                </tr>
              <% end %>
            </table>

            <br />
            <%= link_to(
              "Add new staff", new_staff_path, class: "btn btn-primary"
            ) %>
        </div>

        </div>
      </div>
    </div>
  </div>
</header>
