<div
  id="certificate_wrapper"
  class="certificate_pdf certificate_wrapper"
  data-source="<%= certificate_content_path(@certificate) %>" >

  <div class="banner">
    <%= image_tag @content.banner %>
  </div>

  <div class="titles">
    <div class="editable header" data-name="content[title]">
      <%= raw(@content.title || t("certificate.content.title")) %>
    </div>

    <div class="editable sub_header" data-name="content[sub_title]">
      <%= raw(@content.sub_title || t("certificate.content.sub_title")) %>
    </div>
  </div>

  <div class="editable terms" data-name="content[terms]">
    <%= raw(@content.terms || t("certificate.content.terms")) %>
  </div>

  <div class="code">
    <div class="certificate_code">
      <span class="activation_code">[certificate_code]</span><br />
      Expires on: 31 December 2016
    </div>
  </div>

  <div class="editable policies" data-name="content[policies]">
    <%= raw(@content.policies || t("certificate.content.policies")) %>
  </div>
</div>

<div class="approval_button">
  <p>
  Once you have entered all your terms and policies, simply click the “tick icon” on the left to save, then submit the certificate for approval. You don't need to worry about the certificate code, our system will automatically take care of that.
  </p>

  <p>
  <%= link_to(
    "Submit for approval",
    certificate_content_path(@certificate, ready: true)
  ) %>
</p>
</div>
