<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero top60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-container">
          <h3 class="title">Orders</h3>

          <%= render "flashes" %>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Certificate title</th>
                <th>Ordered by</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>

              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.certificate.name %></td>
                  <td><%= order.user.name %></td>
                  <td><%= order.quantity %></td>
                  <td><%= order.status %></td>
                  <td><%= link_to "details", admin_order_path(order) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
