<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero">
  <div class="container">

    <div class="row">
      <div class="col-md-6 dark-bg">
        <div class="slogan">
          <h1>
            Activate<br>
            <strong>
              Your Certificate
            </strong>
          </h1>
        </div>

        <ul class="item-list-left item-list-small item-list editContent">
          <li>
            <i class="num-icon">1</i>
            <p>
            Start by activating here. Once your certificate is activated you
            will receive your booking code by email.
            </p>
          </li>

          <li>
            <i class="num-icon">2</i>
            <p>
            Then come back, within 12 months to select your destination and
            submit your booking request.
            </p>
          </li>

          <li>
            <i class="num-icon">3</i>
            <p>
            When we have confirmed availability for the dates you have requested,
            pay the admin and booking fee, and you are ready to go.
            </p>
          </li>
        </ul>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="form-container">
          <h3 class="title">Certificate Activation</h3>

          <%= render "flashes" %>

          <%= simple_form_for @activation,
            html: {class: "form-horizontal"} do |f| %>
            <%= f.simple_fields_for :user do |user_form| %>
              <%= user_form.input :name_part_one, placeholder: "First Name *" %>
              <%= user_form.input :name_part_two, placeholder: "Last Name *" %>
              <%= user_form.input :email, placeholder: "Email Address *" %>
              <%= user_form.input :phone, placeholder: "Phone Number *" %>
            <% end %>

            <%= f.input :activation_code, placeholder: "Activation Code *" %>

            <br />
            <%= f.submit "Activate", class: "btn btn-lg btn-block btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</header>

<%= render "layouts/select/destinations" %>
<%= render "layouts/select/contact" %>
