<% if signed_in? %>
  You are logged in as, <%= current_user.email %>,
  <%= link_to "Logout", sign_out_path, method: :delete %>

  <ul>
    <li><%= link_to "Certificates", certificates_path %></li>
    <li><%= link_to "Orders", orders_path %></li>
  </ul>

  <%= link_to "New Certificate", new_certificate_path %>
<% else %>
    You are not logged in, please
    <%= link_to "Create new account", new_account_path %>
    of if you already have an account then
    <%= link_to "Sing in", sign_in_path %>.
<% end %>
