<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero top60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-container">
          <h3 class="title">Certificate kit orders</h3>

          <%= render "flashes" %>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Certificate title</th>
                <th>Quantity</th>
                <th>Note</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>

              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.certificate.title %></td>
                  <td><%= order.quantity %></td>
                  <td><%= order.note %></td>
                  <td><%= order.status %></td>
                  <td>
                    <% if current_user.management_admin? %>
                      <%= link_to "details", order_path(order) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>

            <br />
            <%= link_to(
              "Add new order",
              new_order_path,
              class: "btn btn-primary"
            ) %>
        </div>


        </div>
      </div>
    </div>
  </div>
</header>
