<p>Dear <%= @certificate_kit.user.name %>,</p>

<p>
Thank you for activating your certificate, your activation code is
<strong><%= @certificate_kit.code.upcase %></strong>
</p>

<p>
You now have 12 months to submit your booking request, and thereafter another
12 months to travel. We do however recommend that you plan and book as early as
possible, as some of the more popular destinations fill up quickly.
</p>

<p>
You can browse the destinations available on our site at
<%= link_to root_url, root_url %>, or if you already know where you would like
to go, simply click on this link to submit your booking request.
</p>

<p>
Please note that we work with many providers and that the destinations available
may change from time to time.
</p>

<ol>
  <li>
    This certificate is valid for a stay for two adults in one of the
    participating hotels or resorts at one of our featured destinations.
    Duration of stay may vary from property to property, depending on the
    property and destination you choose.
  </li>

  <li>
    This certificate is valid for 12 months and must be activated during this
    time online at
    <%= link_to root_url, root_url %>.

    Once activated you will be issued a Booking Code and be able to submit your
    reservation request.
  </li>

  <li>
    A booking and administration fee and taxes charge will be applied to
    activate this certificate once your reservation is confirmed. The fees
    varies depending on the property and destination chosen, for details
    see the list of Featured Destinations on our website. Once bookings are
    confirmed, payments are non-refundable in the event of cancellation.
  </li>

  <li>
    This certificate is non-refundable, non-transferable and valid only for
    the person designated.
  </li>

  <li>
    When checking in at the resort the certificate holder must present a
    government issued identification, a valid credit card, the booking
    confirmation number you will be provided with from the reservation
    department. In the absence of the booking confirmation, the then
    current room rack rate may apply for the accommodations.
  </li>

  <li>
    Once the booking form has been activated, travel must be completed within
    12 months of the activation date.
  </li>

  <li>
    The Certificate is valid for a single visit and is limited to one per
    household. The Certificate cannot be combined with any other promotion
    or certificate and is not redeemable for cash or credit.
  </li>

  <li>
    The Resort has the right to refuse any certificate or booking confirmation
    that has been tampered with or altered in any way.
  </li>

  <li>
    Reservations are subject to availability. Certain dates are excluded.
    Accommodations for nights included in this certificate must be used
    consecutively.
  </li>

  <li>
    The host hotel may have a nightly service fee which would include optional
    all-inclusive services, unlimited Internet service, local calls, fitness
    centre access & one-way airport transportation to the hotel, services and
    fees varies depending on the property and destination chosen.
  </li>

  <li>
    This certificate is for the accommodations only. Taxes and other charges
    may apply. The Certificate is valid for a single visit and is limited to
    one per household.
  </li>

  <li>
    If married or cohabitating, both must travel together and possess a valid
    credit card.
  </li>
</ol>

<p>
Privacy notice: Your privacy and the security of your personal information are
very important to us. ASI Rewards may manage and handle the information you
provide to inform you of present, or future, products and services that may be
of interest and to share with you information bulletins and advertising and or
promotional materials.
</p>

<p>
Legal disclaimer: Reservations are subject to availability. All acts of ASI
Rewards in connection with the certificate are performed by ASI Rewards solely
on it’s own behalf as an independent company. ASO is not an agent, employee,
contractor or representative of the hotels and resorts offered, its affiliated
companies or any third party and ASI may not hold itself or allow itself as
acting in any such capacity. This certificate program does not create any joint
venture partnership or other joint venture and ASI Rewards has no authority to
act on behalf of the Hotel and /or The Resort or to bind them in anyway other
than providing the accommodations. ASI Rewards is solely responsible for the
content and fulfilment of the services comprised within this certificate and
the <%= link_to root_url, root_url %>  website.
</p>
