<div class="container certificate">
  <div classs="banner">
    <%= image_tag @certificate.banner %>
  </div>

  <div class="titles">
    <h2><%= @certificate.title %></h2>
    <p><%= @certificate.sub_title %></p>
  </div>

  <div class="terms">
    <%= @certificate.terms %>
  </div>

  <div class="code">
    [Certificate Code]
  </div>

  <div class class="policy">
    <p><%= @certificate.policies %></p>
  </div>
</div>
