<section id="contact" class="dark-bg bg-color1 cover-bg asirewards-contact" >
  <div class="container">
    <div class="editContent sep-bottom">
      <h2 class="title">Contact Us</h2>
      <p>
      To activate your certificate or to submit a booking request, please use
      the forms and links provided above. If you have any other questions, or
      have a problem with your certificate or booking, please submit the contact
      form below and we will get back to you shortly.
      </p>

    </div>

    <%= simple_form_for @contact, url: contact_path do |f| %>
      <%= f.input :name, placeholder: "Full Name *" %>
      <%= f.input :email, placeholder: "Email Address *" %>
      <%= f.input :message, as: :text, placeholder: "Messsage *" %>

      <br />
      <%= f.submit(
        "Send Message", class: "btn btn-lg btn-block btn-primary"
      ) %>
  <% end %>
  </div>
</section>

