<section id="featured" class="bg-color3 asirewards-destinations">
  <div class="container">
    <div class="text-center">
      <h2 class="title">Featured Destinations</h2>
    </div>
    <div class="row sep-bottom">
      <% featured_destinations.each do |destination| %>
        <div class="col-sm-4 destination">
          <div class="post">
            <div class="post-media">
              <%= link_to(
                image_tag(destination.banner.thumb, class: "img-responsive"),
                destination_path(destination)
              ) %> </div>

            <div class="post-content">
              <h4 class="title">
                <strong>
                  <%= truncate(destination.name, length: 25) %>
                </strong>
              </h4>

              <div class="post-desc">
                <%= truncate(destination.content, length: 180) %>
                <%= link_to "more", destination_path(destination) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row text-center">
      <div class="list_destinations">
        <%= link_to(
          "View all destinations",
          destinations_path, class: "btn btn-lg btn-primary"
        ) %> </div>
    </div>

  </div>
</section>
