<section id="featured" class="bg-color3 asirewards-destinations">
  <div class="container">
    <div class="text-center">
      <h2 class="title">Featured Deals</h2>
    </div>
    <div class="row sep-bottom">
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-1.jpg", class: "img-responsive"), "#"
            ) %>
        </div>

        <div class="post-content">
          <h4 class="title"><strong>Mexico</strong></h4>
          <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
          <div class="editContent">
            <p><i class="icon icon-tag"></i> <strong>Cabo San Lucas</strong></p>
            <p><i class="icon icon-map"></i> Puerto Vallarta</p>
            <p><i class="icon icon-home"></i> Acapulco</p>
          </div>
        </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-2.jpg", class: "img-responsive"), "#"
            ) %>
        </div>

        <div class="post-content">
          <h4 class="title"><strong>Europe</strong></h4>
          <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
          <div class="editContent">
            <p><i class="icon icon-tag"></i> <strong>$310,000</strong></p>
            <p><i class="icon icon-map"></i> 8 West Point, London </p>
            <p><i class="icon icon-home"></i> 1 Bed Room </p>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-3.jpg", class: "img-responsive"), "#"
            ) %>

          </div>
          <div class="post-content">
            <h4 class="title"><strong>Portugal</strong></h4>
            <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
            <div class="editContent">
              <p><i class="icon icon-tag"></i> <strong>$180,000</strong></p>
              <p><i class="icon icon-map"></i> 5 West Point, London </p>
              <p><i class="icon icon-home"></i> 2 Bed Rooms </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-4.jpg", class: "img-responsive"), "#"
            ) %>
          </div>
          <div class="post-content">
            <h4 class="title"><strong>Caribbean</strong></h4>
            <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
            <div class="editContent">
              <p><i class="icon icon-tag"></i> <strong>$875,000</strong></p>
              <p><i class="icon icon-map"></i> 114 West Point, London </p>
              <p><i class="icon icon-home"></i> 5 Bed Rooms </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-5.jpg", class: "img-responsive"), "#"
            ) %>

          </div>
          <div class="post-content">
            <h4 class="title"><strong>Thailand and Asia</strong></h4>
            <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
            <div class="editContent">
              <p><i class="icon icon-tag"></i> <strong>$250,000</strong></p>
              <p><i class="icon icon-map"></i> 54 West Point, London </p>
              <p><i class="icon icon-home"></i> 2 Bed Rooms </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-6.jpg", class: "img-responsive"), "#"
            ) %>

          </div>
          <div class="post-content">
            <h4 class="title"><strong>Africa and The Middle East</strong></h4>
            <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
            <div class="editContent">
              <p><i class="icon icon-tag"></i> <strong>$110,000</strong></p>
              <p><i class="icon icon-map"></i> 4 West Point, London </p>
              <p><i class="icon icon-home"></i> 1 Bed Room </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
