<section id="featured" class="bg-color3 asirewards-destinations">
  <div class="container">
    <div class="text-center">
      <h2 class="title">Featured Destinations</h2>
    </div>
    <div class="row sep-bottom">
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-1.jpg", class: "img-responsive"), "#"
            ) %>
        </div>

        <div class="post-content">
          <h4 class="title"><strong>Acapulco</strong></h4>
          <div class="post-desc">
            Don't skip your siesta in Acapulco, because you'll need the sleep: you'll be busy dancing from midnight until the sun comes up. Countless nightclubs keep the evenings hopping

            <a href="#" class="text-red"> ... more</a>
          </div>
        </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-2.jpg", class: "img-responsive"), "#"
            ) %>
        </div>

        <div class="post-content">
          <h4 class="title"><strong>Cabo San Lucas</strong></h4>
          <div class="post-desc">
            Cabo has been rated as one of Mexico's top 5 tourist destinations it is known for its beaches, scuba diving locations, balnearios, the sea arch El Arco de Cabo San Lucas, and marine life.

            <a href="#" class="text-red"> ... more</a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-3.jpg", class: "img-responsive"), "#"
            ) %>

        </div>
        <div class="post-content">
          <h4 class="title"><strong>Puerto Vallarta</strong></h4>
          <div class="post-desc">
            Puerto Vallarta is a Mexican beach resort city situated on the Pacific Ocean's Bahía de Banderas. Puerto Vallarta is also a highly popular vacation spot for domestic and international tourists
            <a href="#" class="text-red"> ... more</a>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-4.jpg", class: "img-responsive"), "#"
            ) %>
        </div>
        <div class="post-content">
          <h4 class="title"><strong>Caribbean</strong></h4>
          <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
          <div class="editContent">
            <p><i class="icon icon-tag"></i> <strong>$875,000</strong></p>
            <p><i class="icon icon-map"></i> 114 West Point, London </p>
            <p><i class="icon icon-home"></i> 5 Bed Rooms </p>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-5.jpg", class: "img-responsive"), "#"
            ) %>

        </div>
        <div class="post-content">
          <h4 class="title"><strong>Thailand and Asia</strong></h4>
          <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
          <div class="editContent">
            <p><i class="icon icon-tag"></i> <strong>$250,000</strong></p>
            <p><i class="icon icon-map"></i> 54 West Point, London </p>
            <p><i class="icon icon-home"></i> 2 Bed Rooms </p>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="post-media">
            <%= link_to(
              image_tag("featured-dest-6.jpg", class: "img-responsive"), "#"
            ) %>

        </div>
        <div class="post-content">
          <h4 class="title"><strong>Africa and The Middle East</strong></h4>
          <div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.</div>
          <div class="editContent">
            <p><i class="icon icon-tag"></i> <strong>$110,000</strong></p>
            <p><i class="icon icon-map"></i> 4 West Point, London </p>
            <p><i class="icon icon-home"></i> 1 Bed Room </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
