<nav class="navbar bg-color1 dark-bg">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand goto" do %>
      <%= image_tag "asirewards-logo.png", title: "Asi Rewards", height: 30 %>
    <% end %>

    <button
       class="round-toggle navbar-toggle menu-collapse-btn collapsed"
       data-toggle="collapse" data-target=".navMenuCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse navMenuCollapse">
      <div class="login-panel">

        <% if signed_in? %>
          <%= link_to(
            sign_out_path, method: :delete, class: "btn btn-danger") do  %>

            Logout

            <i class="icon icon-login"></i>
          <% end %>

        <% else %>
          <%= link_to marketer_path, class: "btn btn-primary" do %>
            <i class="icon icon-user"></i>
            Business Login
          <% end %>

        <% end %>
      </div>

      <ul class="nav">
        <% if signed_in? %>
          <li><%= link_to "Certificates", certificates_path %></li>
          <li><%= link_to "Orders", orders_path %></li>
          <li><%= link_to "Customers", "#" %></li>
        <% else %>

          <li><a href="#activation">Activation</a></li>
          <li><a href="#featured">Featured Destinations</a></li>
          <li><a href="#contact">Contact Us</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
