<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-container">
          <h3 class="title">Certificates</h3>

          <div class="table-responsive">
            <table class="certificates table">
              <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Actiion</th>
              </tr>

              <% @certificates.each do |certificate| %>
                <tr>
                  <td><%= certificate.title %></td>
                  <td><%= certificate.status %></td>

                  <td>
                    <%= link_to "Kits", certificate_kits_path(certificate) %>
                    <%= link_to "Preview", certificate_preview_path(certificate) %>
                  </td>
                </tr>
              <% end %>
            </table>


            <br />

            <%= link_to(
              "New Certificate",
              new_certificate_path,
              class: "btn btn-primary"
            )
          %>
        </div>


        </div>
      </div>
    </div>
  </div>
</header>

