<div class="banner">
  <%= image_tag certificate_kit.banner %>
</div>

<div class="titles">
  <h2><%= certificate_kit.title %></h2>
  <p><%= certificate_kit.sub_title %></p>
</div>

<div class="terms">
  <%= certificate_kit.terms %>
</div>

<div class="code">
  <%= certificate_kit.activation_code %>
</div>

<div class class="policy">
  <p><%= certificate_kit.policies %></p>
</div>
