<div class="certificate_pdf certificate_wrapper">
  <div class="banner">
    <%= image_tag @certificate.banner %>
  </div>

  <div class="titles">
    <div class="header">
      <%= @certificate.title.html_safe %>
    </div>

    <div class="sub_header">
      <%= @certificate.sub_title.html_safe %>
    </div>
  </div>

  <div class="terms">
    <%= @certificate.terms.html_safe %>
  </div>

  <div class="code">
    <div class="certificate_code">
      <span class="activation_code">[certificate_code]</span>

      <br />
      Expires on:
      <%= @certificate.expires_in.months.from_now.to_date.to_s(:long) %>
    </div>
  </div>

  <div class="policies">
    <%= @certificate.policies.html_safe %>
  </div>
</div>

