<header class="intro-block bg-color1 dark-bg fixed-bg destinations-hero">
  <div class="container">
    <div class="text-center">
      <h2>Destinations</h2>
    </div>
  </div>
</header>

<section id="featured" class="bg-color3 asirewards-destinations">
  <div class="container">

    <%= render "flashes" %>

    <div class="row">
      <% @destinations.each do |destination| %>
        <div class="col-sm-4 destination">
          <div class="post">
            <div class="post-media">
              <%= link_to(
                image_tag(destination.banner.thumb, class: "img-responsive"),
                destination_path(destination)
              ) %> </div>

            <div class="post-content">
              <h4 class="title">
                <strong>
                  <%= truncate(destination.name, length: 25) %>
                </strong>
              </h4>
              <div class="post-desc">
                <%= truncate(destination.content, length: 180) %>
                <%= link_to "more", destination_path(destination) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
