<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="asi, rewards, certificate">
    <meta name="keywords" content="asi, rewards, certificate">
    <title>Dashboard | ASI Rewards</title>
    <!--pageMeta-->

    <%= stylesheet_link_tag :asirewards %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
    <!--headerIncludes-->
  </head>

  <body data-spy="scroll" data-target=".navMenuCollapse" class="<%= body_class %>">
    <div id="preloader">
      <div class="loading-data"></div>
    </div>

    <div id="wrap">
      <!-- navigation -->
      <%= render "layouts/select/admin/nav" %>

      <!-- content -->
      <%= yield %>

      <!-- footer -->
      <%= render "layouts/select/footer" %>

    </div>

      <!-- JavaScript -->
      <%= javascript_include_tag :asirewards %>
  </body>
</html>
