<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero top60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-container">
          <h3 class="title">Certificates</h3>

          <%= render "flashes" %>

          <div class="table-responsive">
            <table class="certificates table">
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Available Kits</th>
                <th>Actions</th>
              </tr>

              <% @certificates.each do |certificate| %>
                <tr>
                  <td><%= certificate.name %></td>
                  <td><%= certificate.status %></td>
                  <td><%= certificate.number_of_available_kits %></td>
                  <td>
                    <%= link_to(
                    "edit", edit_admin_certificate_path(certificate)
                    ) %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
